.login-page {
    background-image: url('https://wallpapercave.com/wp/wp2883566.jpg');
    background-size: cover;
    height: 100vh; /* Set the height to cover the entire viewport */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .spinner {
    width: 20px;
    height: 20px;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-top-color: white;
    border-radius: 30px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    to {
      transform: rotate(360deg);
    }
  }
  .login-container {
    width: 300px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8); /* Optional: Add a semi-transparent background to improve readability */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for depth */
  }
  
  .form-group {
    margin-bottom: 20px;

  }
  
  .login-buttonr {
    width: 50%; /* Make the button full-width */
    padding: 10px; /* Add padding for better appearance */
    background-color: #007bff; /* Change button background color */
    color: white; /* Change text color */
    border: none; /* Remove border */
    border-radius: 30px; /* Create an oval shape */
    cursor: pointer;
    align-items: center;
    text-align: center;
  }
  .login-button {
    width: 100%; /* Make the button full-width */
    padding: 10px 20px;  /* Add padding for better appearance */
    background-color: #007bff; /* Change button background color */
    color: white; /* Change text color */
    border: none; /* Remove border */
    border-radius: 50px; /* Create an oval shape */
    cursor: pointer;
    font-size: 20px;
    align-items: center;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  .login-button:hover,.login-buttonr:ho {
    background-color: #0056b3; /* Change button background color on hover */
  }
  
  /* Add additional styles as needed */
  